<section class="heading-title-bg-main our-company-title">

  <div class="container">

      <div class="row">

          <div class="col-lg-12">

              <div class="heading-title-inner text-center">

                  <a href="#" class="btn btn-default">About Us</a>

              </div>

          </div>

      </div>

  </div>        

</section>
<section class="white-bg ourcompany">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="heading-blue blue-black">Our Company</h1>
              <p class="headin-para-description">Cosmos Granite and Marble was started in 2005 with the aim of providing its customers with superior quality materials at competitive prices and services that one can easily rely upon. Quality and service have always been our founding principles and combining them with the knowledge and experience of the industry experts who are an esteemed part of our team, we have become a leading natural stone and quartz distributor in the US.</p>
              <p class="headin-para-description">Cosmos Granite and Marble has continued to embrace the change in technology through continuous investments in both equipments and personnel. Through our means of approaching the customers directly, without any middlemen, our customers are able to relish the benefits of cost saving along with the added value in quality. Our strong alliances with overseas associates and the State-of-the-Art stone processing factory in India eliminate the inbound struggles of product shortages, price fluctuations and inaccurate information that otherwise have to be faced.</p>
              <p class="headin-para-description">With thousands of products available in varied colors and sizes, we create the best from your spaces and make you walk through the process. We consistently work upon our supply procedures and new product offerings.</p>
              <p class="headin-para-description">From homeowners to construction professionals, Cosmos has a growing number of customer base. We continue to provide exclusive services to our existing and prospective customers. Experience the triumph of the industry leader with world class building stones at your conveniently located US facilities.</p>
          </div>

      </div>

  </div>

</section>
