<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="east">
    <div class="col-md-2 locationbox">
      <div class="row" style="background:url(https://www.cosmosgranite.com/assets/maps/Raleigh-NC.jpg)top center no-repeat;height: 140px;">
      </div>
      <div class="row detail-contain">
        <a href="">
          <h4>Gol Modeling Clay Manufacturer</h4>
          <div class="location_details">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p><span>Narayan Nagar Society,</span> <span>Paldi,Ahmedabad, Gujarat 380007</span></p>
          </div>
          <div class="location_details">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>1234567890</p>
          </div>
          <div class="location_details">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p><span>Mon-Fri: 8:30am - 5:00pm</span> <span>Sat: 9:00am - 1:00pm</span></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>