<div class="scrollmenu">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Our Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="price">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact Us</a>
      </li>
    </ul>
  </div>
</div>

<div style="margin-bottom:25px">
  <div style="display:block;" [style.width]="width">
    <slideshow #slideshow [imageUrls]="imageUrls"
      [height]="height"
      [minHeight]="minHeight" 
      [arrowSize]="arrowSize"
      [showArrows]="showArrows"
      [disableSwiping]="disableSwiping"
      [autoPlay]="autoPlay"
      [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
      [debug]="debug"
      [backgroundSize]="backgroundSize"
      [backgroundPosition]="backgroundPosition" 
      [backgroundRepeat]="backgroundRepeat"
      [showDots]="showDots" [dotColor]="dotColor" 
      [showCaptions]="showCaptions" [captionColor]="captionColor"
      [captionBackground]="captionBackground"
      [lazyLoad]="lazyLoad"
      [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>
</div>