<div class="container">
<li class="lst lst_cl  mft2 img nlc mft" id="LST1" data-dispid="15678393791" data-glid="1986103" data-csttypwgt="199"
  data-csttypnm="TSCATALOG" data-city="Pune" data-state="Maharashtra" data-disflg="1" data-modref="2">
  <div class="f-div r-e-h ft bdr1">
    <div class="l-cl b-w">
      <div class="prd-img">
        <img alt="Rabbit 4 Shades Stripe Modelling Clay, Quantity Per Pack: 4 Stripe" id="bu1" src="//5.imimg.com/data5/HQ/MC/MY-1986103/4-2f-6-2f-12-stripe-clay-250x250.jpg"
          data-limg="//5.imimg.com/data5/HQ/MC/MY-1986103/4-2f-6-2f-12-stripe-clay-500x500.jpg">
        </div>
      <div class="rht pnt"><a class="pnm ldf cur" href="https://www.indiamart.com/proddetail/rabbit-4-shades-stripe-modelling-clay-quantity-per-pack-4-stripe-15678393791.html"
          target="_blank">
          <h3 class="lg">Shades Stripe Modelling Clay, Quantity Per Pack: 4 Stripe</h3>
        </a>
        <p id="1prcenq" class="prc NP-1 price cur">
          <span class="inr"></span>Rs&nbsp;30/<span> Packet</span>
        </p>
        <div class="desc des_p">
          <p id="isqpos1"><b>Weight</b>: Upto 100 gm</p>
          <p id="isqpos2"><b>Brand</b>: Rabbit</p>
          <p id="isqpos3"><b>Quantity Per Pack</b>: 4 Stripe</p>
          <p id="isqpos4"><b>Package Type</b>: Packet or Box</p><br>
        </div>
      </div>
    </div>
  </div>
</li>
</div>
<hr>
<div class="container">
    <li class="lst lst_cl  mft2 img nlc mft" id="LST1" data-dispid="15678393791" data-glid="1986103" data-csttypwgt="199"
      data-csttypnm="TSCATALOG" data-city="Pune" data-state="Maharashtra" data-disflg="1" data-modref="2">
      <div class="f-div r-e-h ft bdr1">
        <div class="l-cl b-w">
          <div class="prd-img"><img alt="Rabbit 4 Shades Stripe Modelling Clay, Quantity Per Pack: 4 Stripe" id="bu1" src="//5.imimg.com/data5/HQ/MC/MY-1986103/4-2f-6-2f-12-stripe-clay-250x250.jpg"
              data-limg="//5.imimg.com/data5/HQ/MC/MY-1986103/4-2f-6-2f-12-stripe-clay-500x500.jpg"></div>
          <div class="rht pnt"><a class="pnm ldf cur" href="https://www.indiamart.com/proddetail/rabbit-4-shades-stripe-modelling-clay-quantity-per-pack-4-stripe-15678393791.html"
              target="_blank">
              <h3 class="lg">Rabbit 4 Shades Stripe Modelling Clay, Quantity Per Pack: 4 Stripe</h3>
            </a>
            <p id="1prcenq" class="prc NP-1 price cur">
              <span class="inr"></span>Rs&nbsp;30/<span> Packet</span>
            </p>
            <div class="desc des_p">
              <p id="isqpos1"><b>Weight</b>: Upto 100 gm</p>
              <p id="isqpos2"><b>Brand</b>: Rabbit</p>
              <p id="isqpos3"><b>Quantity Per Pack</b>: 4 Stripe</p>
              <p id="isqpos4"><b>Package Type</b>: Packet or Box</p><br>
            </div>
          </div>
        </div>
      </div>
    </li>
    </div>
    
    

